.ztekNavbar {
    background-color: #35393d;
    font-size: 1.5rem;
    /* max-height: 4rem !important; */
}


.navbarLogo {
    /* width: auto; */
    max-height: 50px !important;
    /* height: 100%; */
}

.nav-link {
    color: grey;
}
